/* Mkdoc ToC Nav Styles */
/* Mkdoc-Left/Right ToC Styles */

/* Mkdoc-Left ToC Styles */
/* Left drawer title */
.md-nav__title[for="__drawer"] {
    font-size: 0;
}

.md-nav__title[for="__drawer"]::after {
    content: "Table of Contents";
    font-size: 0.9rem;
}

/* Mkdoc-Right ToC Styles */
/* Right TOC title */
.md-nav__title[for="__toc"] {
    font-size: 0;
}

.md-nav__title[for="__toc"]::after {
    content: "ℹ️ On this page";
    font-size: 0.9rem;
}



